<%- include('partials/_header') %>
<%- include('partials/_navigation') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <% if(user.title == 'Trainer') { %>
                    <div>Hi Trainer <%= user.name %> <%= user.surname %></div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>