<%- include('partials/_header') %>
<%- include('partials/_navigation') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="Profile-Card">
                Hi <%= user.name %> <%= user.surname %>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') %>