<%- include('partials/_header') %>
<%- include('partials/_navigation') %>

        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Our Trainers</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- trainers -->
      <div  class="trainers">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <% for(let i=0; i < trainers.length; i++) { %>
                  <div class="col-md-4">
                     <div id="trai" class="trainer_box">
                        <div class="trainer_img">
                           <button type="button" data-toggle="modal" data-target="#Trainer<%= trainers[i].id %>">
                           <figure><img src="https://t3.ftcdn.net/jpg/01/18/01/98/360_F_118019822_6CKXP6rXmVhDOzbXZlLqEM2ya4HhYzSV.jpg" alt="#"/></figure>
                           </button>
                        </div>
                        <div class="trainer">
                           <h3><%= trainers[i].name %> <%= trainers[i].surname %></h3>
                           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                     </div>
                  </div>
                  <!-- Trainer Profile pop-up -->
                  <div class="modal fade" id="Trainer<%= trainers[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered" role="document">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLongTitle">Add Training Page</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div>
                         <div class="modal-body">
                             <div class="alert alert-danger" role="alert">
                                 Kayıt Sınırını Aştın
                             </div>
                         </div>
                       </div>
                     </div>
                   </div>
               <% } %>
            </div>
         </div>
      </div>
      <!-- end trainers -->
      <!--  footer -->
      <%- include('partials/_footer') %>

